<div class="row">
  <div class="col-12">
    <p class="login__subtitle text-muted text-center">{{subtitle}}</p>
    <form (ngSubmit)="submit()" *ngIf="showForm" [formGroup]="forgetForm" class="mt-5">
      <div class="form-group">
        <label class="text-primary" for="email">Correo Electronico <small
          *ngIf="this.forgetForm.controls.email.invalid && (this.forgetForm.controls.email.dirty || this.forgetForm.controls.email.touched)"
          class="ml-5 text-danger">* Requerido</small></label>
        <input
          [ngClass]="this.forgetForm.controls.email.invalid && (this.forgetForm.controls.email.dirty || this.forgetForm.controls.email.touched)? 'border-danger' : ''"
          aria-describedby="emailHelp"
          class="form-control border-primary"
          formControlName="email" id="email"
          placeholder="cuenta@dominio.com"
          type="email">
      </div>
      <button class="btn btn-primary btn-block mt-5" type="submit">Enviar solicitud</button>
      <button class="btn btn-secondary btn-block mt-3 text-white" (click)="returnLogin()">Regresar a Login</button>
    </form>
    <div>
      <button class="btn btn-secondary btn-block mt-5" *ngIf="!showForm" (click)="returnLogin()">Regresar a Login</button>
    </div>
  </div>
</div>
