<div class="row">
  <div class="col-12">
    <p class="login__subtitle text-muted text-center">Por favor ingrese con su cuenta</p>
    <form (ngSubmit)="submit()" [formGroup]="loginForm" class="mt-5">
      <div class="form-group">
        <label class="text-primary" for="email">Correo Electronico <small
          *ngIf="this.loginForm.controls.email.invalid && (this.loginForm.controls.email.dirty || this.loginForm.controls.email.touched)"
          class="ml-5 text-danger">* Requerido</small></label>
        <input
          [ngClass]="this.loginForm.controls.email.invalid && (this.loginForm.controls.email.dirty || this.loginForm.controls.email.touched)? 'border-danger' : ''"
          aria-describedby="emailHelp"
          class="form-control border-primary"
          formControlName="email" id="email"
          placeholder="cuenta@dominio.com"
          type="email">
        <small class="form-text text-muted" id="emailHelp">Nunca compartiremos tu correo electronico con
          otros.</small>
      </div>
      <div class="form-group">
        <label for="password">Password <small
          *ngIf="this.loginForm.controls.password.invalid && (this.loginForm.controls.password.dirty || this.loginForm.controls.password.touched)"
          class="ml-5 text-danger">* Requerido</small></label>
        <input [ngClass]="this.loginForm.controls.password.invalid && (this.loginForm.controls.password.dirty || this.loginForm.controls.password.touched)? 'border-danger' : ''"
               class="form-control border-primary" formControlName="password" id="password" placeholder="Password"
               type="password">
      </div>

      <div class="form-row mt-3">
        <div class="col-6">
          <div class="form-check">
            <input class="form-check-input" id="exampleCheck1" type="checkbox">
            <label class="form-check-label" for="exampleCheck1">Recordarme</label>
          </div>
        </div>
        <div class="col-6">
          <a class="text-primary" routerLink="/auth/forget">He olvidado mi password.</a>
        </div>
      </div>

      <button class="btn btn-primary btn-block mt-5" type="submit">Ingresar</button>
      <a class="btn btn-secondary btn-block mt-2 text-white" routerLink="/register">Registrarse</a>
    </form>
  </div>
</div>
