<div class="container-fluid">
    <app-ui-title [description]="company.category.name"
                  [title]="company.name"></app-ui-title>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card" id="ask-1">
                    <div class="card-block">
                        <h1><em class="fa fa-building-o text-primary font-size-30 mrg-right-15"></em>Sucursales</h1>

                      <div class="table-overflow">
                        <table class="table table-lg table-hover" aria-describedby="Listado de sucursales disponibles" datatable [dtOptions]="dtOptions">
                          <thead>
                          <tr>
                            <th scope="name">Nombre de Sucursal</th>
                            <th scope="department">Departamento</th>
                            <th scope="city">Municipio</th>
                            <th scope="phone">Telefono</th>
                            <th scope="status">Estatus</th>
                            <th scope="col"></th>
                          </tr>
                          </thead>
                          <tbody>
                          <tr *ngFor="let branch of branches">
                            <td headers="name">
                              {{branch.name}}
                            </td>
                            <td headers="department">
                              {{branch.department}}
                            </td>
                            <td headers="city">
                              {{branch.city}}
                            </td>
                            <td headers="phone">
                              {{branch.phone}}
                            </td>
                            <td headers="status">
                              {{branch.status}}
                            </td>
                            <td>
                              <button class="btn btn-primary btn-block">Editar</button>
                            </td>
                          </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                </div>
            </div>
        </div>
