<div class="container-fluid">
    <app-ui-title [description]="company.category.name"
                  [title]="company.name"></app-ui-title>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card" id="ask-1">
                    <div class="card-block">
                        <h1><i class="fa fa-building-o text-primary font-size-30 mrg-right-15"></i>Sucursales</h1>

                      <div class="table-overflow">
                        <table class="table table-lg table-hover" datatable [dtOptions]="dtOptions">
                          <thead>
                          <tr>
                            <th>Nombre de Sucursal</th>
                            <th>Departamento</th>
                            <th>Municipio</th>
                            <th>Telefono</th>
                            <th>Estatus</th>
                            <th></th>
                          </tr>
                          </thead>
                          <tbody>
                          <tr *ngFor="let branch of branches">
                            <td>
                              {{branch.name}}
                            </td>
                            <td>
                              {{branch.department}}
                            </td>
                            <td>
                              {{branch.city}}
                            </td>
                            <td>
                              {{branch.phone}}
                            </td>
                            <td>
                              {{branch.status}}
                            </td>
                            <td>
                              <button class="btn btn-primary btn-block">Editar</button>
                            </td>
                          </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                </div>
            </div>
        </div>
