<div class="header navbar">
    <div class="header-container">
        <ul class="nav-left">
            <li>
                <a class="side-nav-toggle" (click)="toggleSideNavCollapse()" href="javascript:void(0);">
                    <em class="ti-view-grid"></em>
                </a>
            </li>
        </ul>
        <ul class="nav-right">
            <li>
                <a class="side-panel-toggle" href="javascript:void(0);" (click)="toggleSidePanelOpen()">
                    <em class="ti-align-right"></em>
                </a>
            </li>
        </ul>
    </div>
</div>
