/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;700;900&display=swap');


$font-family-sans-serif: 'Source Sans Pro', sans-serif;
$primary:       #43425D !default;
$secondary:     #A3A0FB;
$success:       #3B86FF;


@import "node_modules/bootstrap/scss/bootstrap";

// Add SASS theme customizations here..

app-company {
  .card-branch {
    width: 16rem !important;
    margin: 0.50rem;
  }

  // small devices
  @media (min-width: 576px) {
    .card-branch {
      width: 16rem !important;
      margin: 2rem;
    }
  }

  // medium devices
  @media (min-width: 768px) {
    .card-branch {
      width: 17rem !important;
      margin: 1rem;
    }
  }

  // Large devices (desktops, 992px and up)
  @media (min-width: 992px) {
    .card-branch {
      width: 15.5rem !important;
      margin: 0.40rem;
    }
  }
}
